/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
  font-weight: 900;
}

.bianco {
  color: white;
}

.grigio {
  color: #a3a3a3;
}

.border-bottom {
  border-bottom: 2px solid #a3a3a3;
}

.pb25 {
  padding-bottom: 25px;
}

/* Main Content */

main {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar,
.content {
  overflow-y: hidden;
}

/* Sidebar */

.sidebar {
  flex-basis: 230px;
  background-color: #000000;
}

.logo {
  width: 60%;
  margin: 32px;
}

.top-sidebar {
  height: calc(100% - 80px);
  min-height: 400px;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.menu-sidebar {
  height: 34px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-left: 20px;
  font-weight: 600;
  font-size: 13px;
}

.menu-sidebar img {
  width: 10%;
  filter: brightness(50%);
}
.menu-sidebar img,
.menu-sidebar p,
.menu-sidebar h5 {
  margin-top: auto;
  margin-bottom: auto;
  flex: 0 0 auto;
  margin: 3;
}

.menu-sidebar p {
  margin-left: 8px;
}

.top-sidebar .menu-sidebar:first-of-type img {
  filter: brightness(100%);
}

.top-sidebar ul {
  list-style: none;
}

.top-sidebar ul li {
  margin-top: 18px;
  margin-right: 80px;
  font-size: 13px;
}

.top-sidebar a {
  text-decoration: none;
  color: #a3a3a3;
}

.quadrato {
  height: 100%;
  width: 15%;
  background-color: #a3a3a3;
  font-size: 30px;
  padding-bottom: 15px;
  padding-left: 8px;
}

.bottom-sidebar {
  height: 80px;
}
.bottom-sidebar .menu-sidebar {
  width: 80%;
}

.profilo {
  border-radius: 50%;
  background-color: #a3a3a3;
  height: 34px;
  width: 34px;
  margin-top: 5px;
}

.profilo img {
  width: 70%;
  margin-left: 5px;
  filter: brightness(100%);
}

/* Content */

.content {
  position: relative;
  flex-grow: 1;
  background-color: #141922;
}

.content .scrollable {
  padding: 80px 15px 0;
  height: 100%;
  overflow-y: auto;
}

.top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #080b12;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: start;
}

.top-content button {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
}

.content-menu {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-menu ul {
  list-style: none;
  display: inline-block;
}

.content-menu ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 28px;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.album-list li {
  flex-basis: calc(100% / 6 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  height: 300px;
}

.album-list img {
  width: 100%;
}

.cerchio img {
  border-radius: 50%;
}

.categoria {
  margin-bottom: 30px;
}

.categoria p {
  font-size: 12px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #282828;
}

.player-album,
.player-audio {
  flex-basis: 230px;
}

.player-album {
  padding: 18px;
}

.player-album img {
  width: 20%;
}

.player-album p {
  position: relative;
  left: 40px;
  bottom: 39px;
  font-size: 12px;
  margin-left: 5px;
}

.player-album i {
  position: relative;
  bottom: 60px;
  left: 150px;
  margin-right: 15px;
}

.top-controller {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: start;
}

.player-controller .top-controller i {
  margin-top: 8px;
  margin-left: 34px;
  font-size: 22px;
  padding-bottom: 10px;
}

.bottom-controller {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: start;
  margin-top: 8px;
}

.bottom-controller p {
  font-size: 12px;
  margin: 0 25px;
}

.bottom-controller .container {
  width: 500px;
  border-radius: 20px;
  background-color: #5a5a5a;
  height: 6px;
}

.bottom-controller .child {
  background-color: #c1c1c1;
  width: 100px;
  height: 6px;
  border-radius: 20px;
}

/* Player audio */

.player-audio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  align-content: center;
}

.player-audio i {
  margin-right: 15px;
}

.player-audio .container {
  width: 120px;
  border-radius: 20px;
  background-color: #5a5a5a;
  height: 6px;
  margin-bottom: 5px;
}

.player-audio .child {
  background-color: #c1c1c1;
  width: 40px;
  height: 6px;
  border-radius: 20px;
}
