/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
}

.bianco {
  color: white;
}

.grigio {
  color: #a3a3a3;
}

/* Main Content */

main {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar,
.content {
  overflow-y: hidden;
}

/* Sidebar */

.sidebar {
  flex-basis: 230px;
  background-color: #000000;
}

.logo {
  width: 60%;
  margin: 32px;
}

.top-sidebar {
  height: calc(100% - 80px);
  min-height: 400px;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.menu-sidebar {
  height: 34px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-left: 65px;
  font-weight: 600;
  font-size: 13px;
}

.menu-sidebar img {
  width: 10%;
}
.menu-sidebar img,
.menu-sidebar p,
.menu-sidebar h5 {
  margin-top: auto;
  margin-bottom: auto;
  flex: 0 0 auto;
  margin: 3;
}

.menu-sidebar p {
  margin-left: 8px;
}

.menu-sidebar img {
  filter: brightness(50%);
}

.menu-sidebar:first-of-type img {
  filter: brightness(100%);
}

.top-sidebar ul {
  list-style: none;
}

.top-sidebar ul li {
  margin-top: 18px;
  margin-right: 60px;
  font-size: 13px;
  font-weight: 900;
}

.quadrato {
  height: 100%;
  width: 15%;
  background-color: #a3a3a3;
  font-size: 30px;
  padding-bottom: 15px;
  padding-left: 8px;
}

.bottom-sidebar {
  height: 80px;
}

/* Content */

.content {
  position: relative;
  flex-grow: 1;
  background-color: yellowgreen;
}

.content .scrollable {
  padding: 80px 15px 0;
  height: 100%;
  overflow-y: auto;
}

.top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #080b12;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: start;
}

.top-content button {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
}

.content-menu {
  height: 80px;
  background-color: tomato;
}

.categoria {
  margin-bottom: 30px;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.album-list li {
  flex-basis: calc(100% / 6 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  height: 300px;
  background-color: slateblue;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: gray;
}

.player-album,
.player-audio {
  flex-basis: 230px;
  background-color: hotpink;
}
